* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: calibri;
  font-size: 17px;
}
  header {
    height: 5%;
    width: 100%;
    position: absolute;
  }
  header, .SelectNumber, #selectNumberOfPlayers {
    background-color: #F5F2F0;
  }
  div {
    display: inline;
  }
  .buttons, .SelectNumber, #selectNumberOfPlayers {
    float: left;
}
  .SelectNumber, #selectNumberOfPlayers  {
    margin-top: 15px;
    margin-left: 10px;
  }
  .buttons, .SelectNumber, #selectNumberOfPlayers {
    font-size: 14px;
  }
  .buttons {
    height: 100%;
    width: 90px;
    border-radius: 10%;
  }
  .players {
    font-weight: bold;
    text-align: center;
  }
  .cardsWrapper {
    margin: auto;
    display: block;
  }
  .player_0, .player_1, .player_2, .player_3, .player_4, .player_5, .main_field {
    position: absolute;
    height:30%;
    color: white;
  }
  .player_0, .player_1, .player_2, .player_3, .player_4, .player_5 {
    background-color: #497cc9;
    border-style: double;
    padding-top: 50px;
  }
  .player_0, .player_1, .player_3, .player_4 {
    width:50%;
  }
  .player_0, .player_1 {
    top:5%;
  }
  .player_1, .player_3 {
    left:50%;
  }
  .player_5, .main_field, .player_2 {
    top: 35%;
  } 
  .player_5, .player_2 {
    width:25%;
  }
  .main_field {
    width: 50%;
    background-color: #08b808;
    left: 25%;
    border-style: inset;
    border-width: thick;
    border-color: rgb(177, 17, 17);
  }
  .main_field_wrapper {
    margin: auto;
    display: block;
    padding-top: 65px;
  }
  .player_2 {
    left: 75%;
  }
  .player_3, .player_4 {
    top: 65%;
  }
  .player_0:hover, .player_1:hover, .player_2:hover, .player_3:hover, .player_4:hover, .player_5:hover {
    border-style:dotted;
    border-color: white;
    border-width: thick;
  }